body {
  font-size: 16px;
  font-family: Lato, Helvetica, Arial, sans-serif;
  color: black;
}

h2 {
  font-size: 1.4rem;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: black;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.2rem;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: black;
}

a {
  color: #009933;
  text-decoration: none;
}

a:hover {
  color: #009933;
  text-decoration: underline;
}

.navbar-custom {
  background-color: #006400;
}

.navbar {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.container {
  max-width: 50rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.header {
  text-align: center;
}

.workshop_title {
  font-size: 1.7rem;
  font-weight: 700;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

.workshop_subtitle {
  margin-top: 1.0rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}